<div class="w-full min-w-1/2 flex items-center justify-center">
  <div>
    <mat-list role="list">
      @if(bookList.length > 0) {
        <div mat-subheader>
          Liste de livre de {{ this.currentUser?.displayName }}
        </div>
      }
      @for( book of bookList; track book.bookId) {
      <mat-list-item role="listitem">
        <mat-icon matListItemIcon>book</mat-icon>
        <a
          (click)="selectBook(book)"
          class="text-gray-600 hover:text-[#F5CF3D]"
          >{{ book.title }}</a
        >
      </mat-list-item>
      }
    </mat-list>
    <div class="px-10 flex flex-row align-middle items-center">
      <button
        mat-fab
        color="accent"
        aria-label="Ajouter un nouveau livre"
        (click)="newBook()"
        class="px-10"
      >
        <mat-icon>add</mat-icon>
      </button>
      @if(bookList.length == 0) {
      <h2 class="pl-5">Ajoutez votre premier livre</h2>
      }
    </div>
  </div>
</div>
