<mat-toolbar class="place-content-between">
      <div class="flex items-center">
        <mat-icon matListItemIcon class="mr-2">book</mat-icon>
        <span>Bibliocatalogue</span>
      </div>
      @if (currentUser) {
        <div class="flex items-center">
          <button (click)="logout()" mat-raised-button color="accent">
            Déconnexion
          </button>
            <div class="flex bg-white h-10 w-10 overflow-hidden rounded-full ml-3">
              <img
                src="{{currentUser.photoURL}}"
                alt="Photo"
                width={200}
                height={200}
                class="object-contain"
              />
            </div>
          </div>
        
      } @else {
        <div class="flex">
          <span class="pr-3 hidden md:block">Se connecter avec Google :</span>
          <button (click)="login()" mat-raised-button color="accent">login</button>
        </div>
      }
</mat-toolbar>
@if (!currentUser){
  <div class="flex flex-col w-full h-1/2 justify-center items-center">
    <h1>Bienvenue sur Bibliocatalogue</h1>
    <p class="text-lg text-center mx-5">L'application pratique pour référencer les livres de votre bibliothèque.</p>
  </div>
}