<mat-toolbar>
  <span>Bibliocatalogue</span>
  <span class="example-spacer"></span>
  @if (currentUser) {
    <div>
      <button (click)="logout()" mat-raised-button color="accent">
        Déconnexion
      </button>
    </div>
  } @else {
    <div >
      <span>Se connecter avec Google :</span>
      <button (click)="login()" mat-raised-button color="accent">login</button>
    </div>
  }
</mat-toolbar>

<!-- @if (currentUser) {
  <div>
    <button (click)="logout()" mat-raised-button color="accent">
      Déconnexion
    </button>
  </div>
  <p>Bienvenue, {{currentUser.displayName}}. Vous êtes bien connecté</p>
  <div>
    <button (click)="navigate()" mat-raised-button color="accent">Ma liste de livre</button>
  </div>
} @else {
  <div >
    <button (click)="login()" mat-raised-button color="accent">login</button>
    Se connecter avec Google
  </div>

} -->
