<!-- <h2 mat-dialog-title>
  {{ tempBook?.title ? tempBook?.title : selectedBook?.title }}
</h2>
<mat-dialog-content>
  <ul class="*:p-1 *:m-1">
    <li>
      Titre :
      @if(editMode && tempBook) { <input [(ngModel)]="tempBook.title" (keyup)="checkFormValidity()" class="bg-gray-200"/> }
      @else { <span>{{ selectedBook?.title }}</span> }
    </li>
    <li>
      Auteur :
      @if(editMode && tempBook) { <input [(ngModel)]="tempBook.author" (keyup)="checkFormValidity()" class="bg-gray-200"/> }
      @else { <span>{{ selectedBook?.author }}</span> }
    </li>
    <li>
      Date de lecture :
      <div>
        <span>{{ selectedBook?.date | date : "mediumDate" }}</span>
        @if(editMode && tempBook) 
        {<input [ngModel]="tempBook.date" type="date" 
          (ngModelChange)="onDateChange($event)"
          class="bg-gray-200 ml-3"
        /> }
      </div>
    </li>
    <li>
        Évaluation :
        <div class="flex ">
          @for(star of stars; track star ) {
            <mat-icon matListItemIcon 
            (click)="setRating(star)"
            class="{{star <= (tempBook?.rating ?? 0) ? 'text-[#F5CF3D]' : 'text-gray-200' }} {{editMode ? 'animate-spin': ''}}"
            >star</mat-icon>
          }
      </div>
    </li>
    <li>
      Tags :
      @if(editMode && tempBook) {<input [(ngModel)]="tempBook.tags" class="bg-gray-200"/>}
      @else {<span>{{ selectedBook?.tags }}</span>}
    </li>
    <li>
      Commentaires :
      @if(editMode && tempBook) {<input [(ngModel)]="tempBook.comments" class="bg-gray-200"/>}
      @else {<span>{{ selectedBook?.comments }}</span>}
    </li>
    <li>
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" disabled="{{editMode && tempBook ? false : true}}">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker #picker ></mat-datepicker>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      </mat-form-field>
    </li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  @if(editMode && selectedBook?.bookId) {
  <button mat-raised-button color="accent" (click)="deleteBook() "mat-dialog-close>
    Supprimer Livre
  </button>
  } @if(!editMode) {

  <button mat-raised-button color="accent" (click)="switchToEditMode()">
    Modifier livre
  </button>
  }@else{<button
    mat-raised-button
    color="accent"
    (click)="saveModifications()"
    [disabled]="!isFormValid"
  >
    Enregistrer</button
  >}
  <button mat-raised-button color="accent" mat-dialog-close>Fermer</button>
</mat-dialog-actions> -->

<h2 mat-dialog-title>
  {{ tempBook?.title ? tempBook?.title : selectedBook?.title }}
</h2>
<mat-dialog-content>
  <ul>
    <li>
      <mat-form-field>
        <mat-label>Titre :</mat-label>
        @if(tempBook) {<input
          matInput
          [(ngModel)]="tempBook.title"
          [disabled]="!(editMode && tempBook)"
          (keyup)="checkFormValidity()"
        />}
      </mat-form-field>
    </li>
    <li>
      <mat-form-field>
        <mat-label>Auteur :</mat-label>
        @if(tempBook) {<input
          matInput
          [(ngModel)]="tempBook.author"
          [disabled]="!(editMode && tempBook)"
          (keyup)="checkFormValidity()"
        />}
      </mat-form-field>
    </li>
    <li>
      <mat-form-field>
        <mat-label>Date de lecture :</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [ngModel]="tempBook?.date"
          (ngModelChange)="onDateChange($event)"
          [disabled]="!(editMode && tempBook)"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker #picker></mat-datepicker>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
      </mat-form-field>
    </li>
    <li>
      <div class="m-3">
        Évaluation :
        <div class="flex">
          @for(star of stars; track star ) {
          <mat-icon
            matListItemIcon
            (click)="setRating(star)"
            class="{{
              star <= (tempBook?.rating ?? 0)
                ? 'text-[#F5CF3D]'
                : 'text-gray-200'
            }} {{ editMode ? 'animate-spin' : '' }}"
            (keyup)="checkFormValidity()"
            >star</mat-icon
          >
          }
        </div>
      </div>
    </li>
    <li>
      <mat-form-field>
        <mat-label>Tags :</mat-label>
        @if(tempBook) {<input
          matInput
          [(ngModel)]="tempBook.tags"
          [disabled]="!(editMode && tempBook)"
          (keyup)="checkFormValidity()"
        />}
        <mat-hint>Séparez vos tags d'une virgule</mat-hint>
      </mat-form-field>
    </li>
    <li>
      <mat-form-field>
        <mat-label>Commentaire :</mat-label>
        @if(tempBook) {<textarea
          matInput
          [(ngModel)]="tempBook.comments"
          [disabled]="!(editMode && tempBook)"
          (keyup)="checkFormValidity()"
        ></textarea
        >}
      </mat-form-field>
    </li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- Bouton ne s'affiche que si le livre est dans la db -->
  @if(editMode && selectedBook?.bookId) {
  <button
    mat-raised-button
    color="accent"
    (click)="deleteBook()"
    mat-dialog-close
  >
    Supprimer Livre
  </button>
  } @if(!editMode) {

  <button mat-raised-button color="accent" (click)="switchToEditMode()">
    Modifier livre
  </button>
  }@else{<button
    mat-raised-button
    color="accent"
    (click)="saveModifications()"
    [disabled]="!isFormValid"
  >
    Enregistrer</button
  >}
  <button mat-raised-button color="accent" mat-dialog-close>Fermer</button>
</mat-dialog-actions>
