<h2 mat-dialog-title>
  {{ tempBook?.title ? tempBook?.title : selectedBook?.title }}
</h2>
<mat-dialog-content>
  <ul class="*:p-1 *:m-1">
    <li>
      Titre :
      @if(editMode && tempBook) { <input [(ngModel)]="tempBook.title" (keyup)="checkFormValidity()" class="bg-gray-200"/> }
      @else { <span>{{ selectedBook?.title }}</span> }
    </li>
    <li>
      Auteur :
      @if(editMode && tempBook) { <input [(ngModel)]="tempBook.author" (keyup)="checkFormValidity()" class="bg-gray-200"/> }
      @else { <span>{{ selectedBook?.author }}</span> }
    </li>
    <li>
      Date de lecture :
      <div>
        <span>{{ selectedBook?.date | date : "mediumDate" }}</span>
        @if(editMode && tempBook) 
        {<input [ngModel]="tempBook.date" type="date" 
          (ngModelChange)="onDateChange($event)"
          class="bg-gray-200 ml-3"
        /> }
      </div>
    </li>
    <li>
      <!-- Implanter ici le systhème d'évaluation -->
        Évaluation :
        <div class="flex">
          @for(star of [1,2,3,4,5]; track star ) {
            <mat-icon matListItemIcon class="">star</mat-icon>
          }
      </div>
    </li>
    <li>
      Tags :
      @if(editMode && tempBook) {<input [(ngModel)]="tempBook.tags" class="bg-gray-200"/>}
      @else {<span>{{ selectedBook?.tags }}</span>}
    </li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- Bouton ne s'affiche que si le livre est dans la db -->
  @if(editMode && selectedBook?.bookId) {
  <button mat-raised-button color="accent" (click)="deleteBook() "mat-dialog-close>
    Supprimer Livre
  </button>
  } @if(!editMode) {

  <button mat-raised-button color="accent" (click)="switchToEditMode()">
    Modifier livre
  </button>
  }@else{<button
    mat-raised-button
    color="accent"
    (click)="saveModifications()"
    [disabled]="!isFormValid"
  >
    Enregistrer</button
  >}
  <button mat-raised-button color="accent" mat-dialog-close>Fermer</button>
</mat-dialog-actions>
